extends layout 

block content 
  section.landing
    h1 Records Database
    if user 
      h2 Welcome, 
      h2= user.username
    form(action='/records/search')
      div.search
        span 
          i.fas.fa-search
        input(type='search', name='term', placeholder='Artist Name, Album Title, Genre...')
        input(type="submit", value="Search")        
    





  

      
