extends layout 

block content 
  div.container
    h1 All Records 
    form(action='/records/search')
      input(type='search', name='term', placeholder='Search...')
      input(type="submit", value="Search") 
      
    div.table  
      table
        thead
          tr
            th Artist Name
            th Album Title
        tbody    
          each record in records   
            tr
              td 
                a(href=`/records/${record.id}`)= record.artist
              td= record.title
              
    
