extends ../layout

block content 
  div.container 
    h1 Sign Up 
    if errorMessage
      h2.errors Ooops!
      ul.errors
          li= errorMessage
          
    include ../form-error 

    form(action='/user', method="post")
      p 
        label(for="username") Username 
        input#username(name="username", type="text")
      p 
        label(for="email") Email Address
        input#email(name="email", type="text")
      p 
        label(for="password") Password
        input#password(name="password", type="password")  
      p 
        label(for="password") Confirm Password
        input#confirmPassword(name="confirmPassword", type="password")  
      p
        input(type='submit', value='Sign Up')  
